.contactForm {
  width: 100%;
  padding: 0 40px;
}

.wrapper {
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0;
  display: grid;
  gap: 12px;
  h2 {
    margin-bottom: 24px;
    font: 32px 'DM Serif Text', serif;
    color: #5076B8;
    text-align: center;
  }
  div {
    display: grid;
    gap: 4px;
    label {
      font: bold 18px 'Raleway', sans-serif;
      color: #A09678;
    }
    input, textarea {
      padding: 4px 8px;
      border: 1px solid #A09678;
      border-radius: 4px;
      font: 16px 'Raleway', sans-serif;
      color: #A09678;
    }
    small {
      font: 14px 'Raleway', sans-serif;
      color: #EF6461;
    }
  }
  button[type='submit'] {
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    background: #A09678;
    font: bold 16px 'Raleway', sans-serif;
    color: #FFFFFF;
    justify-self: center;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
    }
  }
}