.content {
  width: 100%;
  padding: 40px;
}

.wrapper {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  gap: 40px;
}

.sectionHead {
  h2 {
    font: 32px 'DM Serif Text', serif;
    color: #5076B8;
    text-align: center;
  }
  h3 {
    font: italic 24px 'DM Serif Text', serif;
    color: #A09678;
    text-align: center;
  }
}

.sectionBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      'img txt'
      'coll coll';
  gap: 40px;
  picture {
    grid-area: img;
    img {
      width: 100%;
    }
  }
  p {
    grid-area: txt;
    font: 16px/180% 'Poppins', sans-serif;
    color: #A09678;
    text-align: justify;
  }
  ul {
    grid-area: coll;
    display: grid;
    justify-items: start;
    gap: 16px;
    li {
      list-style: circle inside;
      font: bold 16px/180% 'Poppins', sans-serif;
      color: #707070;
    }
  }
}

@media (max-width: 768px) {
  .sectionBody {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'img'
        'txt'
        'coll';
  }
}