* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

input, textarea, button {
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

blockquote, q {
  quotes: none;
}