.presentation {
  width: 100%;
  padding: 40px;
  position: relative;
  background: #EFECE5;
  &::before {
    content: '';
    width: 100%;
    height: 16px;
    position: absolute;
    top: -8px;
    left: 0;
    background: url('../public/images/beige-section-border-top.png')
  }
  &::after {
    content: '';
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: -8px;
    left: 0;
    background: url('../public/images/beige-section-border-bottom.png')
  }
}

.wrapper {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  gap: 40px;
}

.sectionHead {
  h2 {
    font: 36px 'DM Serif Text', serif;
    color: #5076B8;
    text-align: center;
  }
}

.sectionBody {
  display: grid;
  gap: 20px;
  p {
    font: 16px/180% 'Raleway', sans-serif;
    color: #A09678;
    text-align: justify;
  }
}