.quote {
  width: 100%;
  padding: 40px;
}

.wrapper {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  gap: 40px;
}

.sectionBody {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  picture {
    img {
      width: 100%;
    }
  }
  blockquote {
    position: relative;
    padding: 64px;
    svg {
      width: 128px;
      height: 128px;
      position: absolute;
      top: 0;
      left: 0;
      path {
        fill: #837753;
        fill-opacity: 0.2;
      }
    }
    p {
      font: 36px/120% 'Niconne', cursive;
      color: #A09678;
      text-align: justify;
    }
    footer {
      font: 28px 'Niconne', cursive;
      color: #707070;
    }
  }
}

@media (max-width: 768px) {
  .sectionBody {
    grid-template-columns: 1fr;
  }
}